/*card-category*/
.Banner {
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(61, 206, 109, 0.616);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  padding: 200px 0;
}

.banner-infos {
  position: absolute;
  width: 1200px;
  margin: auto;

}
